<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <h2 id="about-title">À PROPOS DE MOI</h2>
        <div class="about">
            <div class="image-about">
                <img src="/img/moi.png" width="300px">
            </div>
            <div class="parts">
                <p>Salut ! Je m'appelle Emma, j'ai 19 ans et je suis alternante chez <a href="https://www.adexos.fr/" style="color: rgb(194, 125, 154, 0.8)">Adexos</a>.
                    Actuellement, j'étudie l'informatique en BUT à l'IUT de Lens, dans le parcours "Développement
                    d'Application".
                </p>
                <br>
                <p>Passionnée par le développement web, j'ai acquis des compétences solides en programmation, gestion
                    de bases de données, ainsi qu'en outils de développement.</p>
                <br>
                <p>Toujours curieuse et en quête d'apprentissage, je réalise également des projets
                    personnels pour mettre en pratique mes connaissances. N'hésitez pas à explorer la section "Projets
                    personnels" pour en découvrir davantage !</p>
            </div>
        </div>
    </div>
</section>
