    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>A propos de moi</h2>
              <br/>
                <p> Hello ! Je m’appelle Emma Grave, j'ai 19 ans et je suis actuellement étudiante en informatique à
                    l'IUT de Lens dans le cadre de mon BUT Informatique.</p>
                <p>Passionnée par le développement web, j'ai acquis des compétences solides en programmation,
                    gestion de bases de données, ainsi qu'en outils de développement.</p>
                <br>
                <p>Au cours de mes études, j'ai travaillé sur des projets de développement web, où j'ai utilisé des
                    technologies comme HTML, CSS, JavaScript, mais aussi PHP (Laravel) et Python. J'ai également appris à
                    travailler avec des systèmes de gestion de bases de données tels que MySQL et PostgreSQL.</p>
                <br>
                <p>Mon objectif est de mettre en pratique mes connaissances et de les approfondir dans un environnement
                    professionnel. C'est pourquoi je suis activement à la recherche d'une alternance dans le domaine du
                    développement web ou du développement logiciel. Je suis convaincue qu'une expérience en entreprise
                    me permettra de développer mes compétences techniques tout en contribuant à des projets concrets.</p>
                <br>
                <p>Je développe également des projets personnels pour mettre en pratique mes connaissances et approfondir
                    mes compétences. Ces projets incluent des applications web, des sites interactifs et des bot fait
                    en Python, que vous pouvez découvrir directement sur ce portfolio. N'hésitez pas à explorer la section
                    "Projets Personnels" pour en savoir plus sur mon travail.</p>
                <br/>
              </div>
        </div>
    </section>

    <section class="about-img">
        <img src="/img/fondBureau.jpg" alt="About Image">
    </section>
