<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<h2 id="contact-title">CONTACT</h2>
				<div class="col">
					<form action="mailto:graveemma842@gmail.com" method="POST" id="contact-form">
						<label for="name" id="label-name">Nom :</label>
						<input type="text" id="name" name="name" placeholder="Votre nom" required>

						<label for="email" id="label-email">Email :</label>
						<input type="email" id="email" name="email" placeholder="Votre email" required>

						<label for="subject" id="label-subject">Sujet :</label>
						<input type="text" id="subject" name="subject" placeholder="Sujet du message" required>

						<label for="message" id="label-message">Message :</label>
						<textarea id="message" name="message" rows="5" placeholder="Votre message" required></textarea>

						<button type="submit" id="button-submit">Envoyer</button>
					</form>

					<div class="reseaux">
						<p id="social-title" style="font-size: 16px">Retrouvez-moi sur les réseaux sociaux :</p>
						<br><br>
						<ul class="list-inline banner-social-buttons">
							{% for social in site.social %}
							<li>
								{% if social.title != 'email' %}
								<a href="{{ social.url }}" class="btn btn-default btn-lg">
									<i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span>
								</a>
								{% endif %}
							</li>
							<br><br>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
</section>
<!-- /.banner -->