<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<h2>CONTACT</h2>
				<p style="font-size: 16px">Retrouvez-moi sur les réseaux sociaux</p>
				<br>
				<ul class="list-inline banner-social-buttons">
					{% for social in site.social %}
					<li>
						<a href="{{ social.url }}" class="btn btn-default btn-lg">
							{% if social.title == 'email' %}
							<i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span>
							{% else %}
							<i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span>
							{% endif %}
						</a>
					</li>
					<br><br>
					{% endfor %}
				</ul>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->