<section id="news">
    <h2 id="news-title">ACTUALITÉS</h2>
    <br>
    <div class="news-container">
        <div class="intro">
            <span style="font-size: 16px;" id="intro-text">
                Bienvenue sur ma page dédiée à mes actualités !<br>
                Au fil des années, j'ai eu la chance de prendre part à de nombreuses activités et
                projets intéressants qui ont enrichi mon parcours scolaire et m'ont permis de
                développer mes compétences personnelles et professionnelles.<br>
                Sur cette page, vous trouverez un aperçu de ces moments marquants de
                mon parcours scolaire.
            </span>
        </div>
        <br><hr><br>

        <div id="but2">
            <h3 id="but2-title">Deuxième année de BUT informatique</h3>
            <div>
                <p>
                <div class="title_b" id="numeriquelles-title">Numériqu’elles</div>
                <div class="date" id="numeriquelles-date">20/12/2024</div>
                <div class="numeriquelles article">
                    <div class="img">
                        <img src="" alt="Numeriqu'elles" id="numeriquelles2">
                    </div>
                    <div class="text" id="numeriquelles-text">
                        &nbsp;&nbsp;&nbsp;Lors de ma deuxième année, j’ai participé à Numériqu’elles aux côtés des filles de BUT 1
                        et BUT 2. Ensemble, nous avons échangé avec des collégiennes pour leur présenter
                        notre parcours en informatique et discuter des opportunités dans le domaine du numérique.
                        <br>
                        &nbsp;&nbsp;&nbsp;Ces échanges ont permis de répondre à leurs questions, de partager nos expériences et de
                        les encourager à envisager des carrières dans un domaine où les femmes sont encore
                        sous-représentées.
                    </div>
                </div>
                </p>
            </div>
        </div>
        <br>

        <div id="but1">
            <h3 id="but1-title">Première année de BUT informatique</h3>
            <div>
                <p>
                <div class="title_b" id="jpo-title">Journée Portes Ouvertes</div>
                <div class="date" id="jpo-date">10/02/2024</div>
                <div class="jpo article">
                    <div class="img">
                        <img src="/img/photo-JPO.jpg" alt="JPO" id="JPO">
                    </div>
                    <div class="text" id="jpo-text">
                        &nbsp;&nbsp;&nbsp;Le samedi 10 février 2024, l'IUT de Lens a ouvert ses
                        portes au public pour ses journées portes ouvertes. <br>
                        &nbsp;&nbsp;&nbsp;En tant qu'étudiante,
                        j'ai eu l'occasion de guider les visiteurs intéressés par le BUT
                        informatique à travers les locaux du département. J'ai également pu
                        répondre à leurs questions concernant les cours et la vie étudiante.
                    </div>
                </div>
                </p>
                <br>
                <p>
                <div class="title_b" id="numeriquelles-2-title">Numériqu’elles</div>
                <div class="date" id="numeriquelles-2-date">07/12/2023</div>
                <div class="numeriquelles article">
                    <div class="img">
                        <img src="/img/numeriquelles.jpg" alt="Numeriqu'elles" id="numeriquelles">
                    </div>
                    <div class="text" id="numeriquelles-2-text">
                        &nbsp;&nbsp;&nbsp;Numériqu’elles initie les jeunes femmes aux
                        métiers du numérique avec des ateliers et des témoignages, soutenus par des entreprises et centres de
                        formation locaux. <br>
                        &nbsp;&nbsp;&nbsp;J'ai eu l'occasion de partager mon expérience,
                        accompagnée de mes camarades du BUT informatique, en tant que
                        filles dans ce domaine.
                    </div>
                </div>
                </p>
                <br>
                <p>
                <div class="title_b" id="forum-title">Forum des formations</div>
                <div class="date" id="forum-date">23/11/2023</div>
                <div class="forum article">
                    <div class="img">
                        <img src="/img/forum1.jpg" alt="Forum" id="Forum">
                    </div>
                    <div class="text" id="forum-text">
                        &nbsp;&nbsp;&nbsp;Pour accompagner les élèves de première et de terminale
                        dans la construction de leur projet de formation post-bac, le lycée André
                        Malraux organise un forum des formations. <br>
                        &nbsp;&nbsp;&nbsp;Cette année, il s'est tenu le
                        23 novembre. J'ai eu la chance d'y participer toute la journée pour
                        rencontrer les lycéens intéressés par le BUT informatique et partager
                        avec eux mon expérience.
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</section>
