<section id="projects">
    <div>
        <br>
        <h2 id="projects-title">PROJETS PERSONNELS</h2>
        <br>
        <div class="projetsPerso">

            <div class="blog" onclick="toggleFlip(this)">
                <div class="card">
                    <div class="card-front">
                        <h3 id="blog-title">Blog en WordPress</h3>
                        <img src="/img/blogWp.png" alt="Blog en WordPress">
                    </div>
                    <div class="card-back">
                        <p id="blog-description">J'ai créé un blog en WordPress rassemblant mes passions, telles que la lecture et le crochet,
                            et je l'ai hébergé en ligne.<br>
                            Compétences développées :<br>
                        </p>
                        <div class="comp">
                            <img src="/img/wordpress.png" alt="wordpress">
                            <img src="/img/css.png" alt="css">
                            <img src="/img/html.png" alt="html">
                        </div>
                        <a href="https://monuniverspassions.wordpress.com/" target="_blank" id="blog-link">Vous pouvez le consulter ici.</a>
                    </div>
                </div>
            </div>

            <div class="botVinted" onclick="toggleFlip(this)">
                <div class="card">
                    <div class="card-front">
                        <h3 id="botvinted-title">Bot Vinted</h3>
                        <img src="/img/vinted.png" alt="Compte Vinted">
                        <p id="botvinted-status">En cours...</p>
                    </div>
                    <div class="card-back">
                        <p id="botvinted-description">Ce bot, développé en Python, m'assiste dans la gestion de mon compte Vinted (gestion des nouveaux likes, optimisation des annonces, etc.).<br>
                            Il se connecte à mon compte, enregistre mes articles dans une base de données, facilitant ainsi leur suivi.<br>
                            Compétence développée :<br>
                        </p>
                        <div class="comp">
                            <img src="/img/python.png" alt="python">
                        </div>
                        <a href="https://github.com/emmagrave/botVinted/" target="_blank" id="botvinted-link">Lien vers le github.</a>
                    </div>
                </div>
            </div>

            <div class="blog2" onclick="toggleFlip(this)">
                <div class="card">
                    <div class="card-front">
                        <h3 id="blog2-title">Blog en PHP</h3>
                        <img src="/img/blogWp2.png" alt="Blog en WordPress">
                        <p id="blog2-status">En cours...</p>
                    </div>
                    <div class="card-back">
                        <p id="blog2-description">J'ai recréé mon blog initialement développé avec WordPress en PHP en utilisant le framework
                            Laravel, afin d'améliorer mes compétences en développement PHP.<br>
                            Compétences développées :<br>
                        </p>
                        <div class="comp">
                            <img src="/img/php.png" alt="php">
                            <img src="/img/css.png" alt="css">
                            <img src="/img/html.png" alt="html">
                        </div>
                        <a href="https://github.com/emmagrave/mesPassionsMonUnivers" target="_blank" id="blog2-link">Lien vers le github.</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>