<section id="projects">
    <div>
        <br>
        <h2>PROJETS PERSONNELS</h2>
        <br>
        <div class="projetsPerso">

            <div class="blog" onclick="toggleFlip(this)">
                <div class="card">
                    <div class="card-front">
                        <h3>Blog en WordPress</h3>
                        <img src="/img/blogWp.png" alt="Blog en WordPress">
                    </div>
                    <div class="card-back">
                        <p>J'ai créé un blog en WordPress rassemblant mes passions, telles que la lecture et le crochet,
                            et je l'ai hébergé en ligne.<br>
                            <a href="https://monuniverspassions.wordpress.com/" target="_blank">Vous pouvez le consulter ici.</a></p>
                    </div>
                </div>
            </div>

            <div class="botVinted" onclick="toggleFlip(this)">
                <div class="card">
                    <div class="card-front">
                        <h3>Bot Vinted</h3>
                        <img src="/img/vinted.png" alt="Compte Vinted">
                        <p>En cours...</p>
                    </div>
                    <div class="card-back">
                        <p>Ce bot, développé en Python, m'assiste dans la gestion de mon compte Vinted.<br>
                            Il se connecte à mon compte, enregistre mes articles dans une base de données, facilitant ainsi leur suivi.<br>
                            Il gère également mes messages lors de nouveaux "likes" et m'aide à optimiser mes annonces pour augmenter la visibilité.</p>
                    </div>
                </div>
            </div>

            <div class="blog2" onclick="toggleFlip(this)">
                <div class="card">
                    <div class="card-front">
                        <h3>Blog en PHP</h3>
                        <img src="/img/blogWp2.png" alt="Blog en WordPress">
                        <p>En cours...</p>
                    </div>
                    <div class="card-back">
                        <p>J'ai recréé mon blog initialement développé avec WordPress en PHP en utilisant le framework
                            Laravel, afin d'améliorer mes compétences en développement PHP.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>