<section id="skills">
    <h2>COMPÉTENCES</h2>
    <br>
    <div class="skills-container">
        <div class="progress-bars">
            <div class="carre1">
                <h3>DÉVELOPPEMENT WEB</h3>
                <div class="skill">
                    <span class="skill-name">HTML</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">CSS</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="70"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">JAVASCRIPT</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="40"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">PHP</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="50"></div>
                    </div>
                </div>
            </div>

            <div class="carre2">
                <h3>BASE DE DONNÉES</h3>
                <div class="skill">
                    <span class="skill-name">POSTGRESQL</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="60"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">MYSQL</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="50"></div>
                    </div>
                </div>
            </div>

            <div class="carre3">
                <h3>DÉVELOPPEMENT</h3>
                <div class="skill">
                    <span class="skill-name">JAVA</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">PYTHON</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="70"></div>
                    </div>
                </div>
            </div>

            <div class="carre4">
                <h3>OUTILS</h3>
                <div class="skill">
                    <span class="skill-name">GIT</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="65"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">SUITE JETBRAINS</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">ECLIPSE</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="50"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name">TRELLO</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cv-right">
            <img src="/img/cv.png" alt="Mon CV" id="cv-img"/>
            <br>
            <button id="download"> <!--voir script-->
                <img src="/img/download.png" alt="download" id="download-png">
                &nbsp;&nbsp;Télécharger mon CV
            </button>
        </div>
    </div>

    <div id="blur-background"></div>

</section>