<section id="skills">
    <h2 id="skills-title">COMPÉTENCES</h2>
    <br>
    <div class="skills-container">
        <div class="progress-bars">
            <div class="carre1">
                <h3 id="dev-web-title">DÉVELOPPEMENT WEB</h3>
                <div class="skill">
                    <span class="skill-name" id="html-title">HTML</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="css-title">CSS</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="70"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="js-title">JAVASCRIPT</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="40"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="php-title">PHP</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="50"></div>
                    </div>
                </div>
            </div>

            <div class="carre2">
                <h3 id="db-title">BASE DE DONNÉES</h3>
                <div class="skill">
                    <span class="skill-name" id="postgresql-title">POSTGRESQL</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="60"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="mysql-title">MYSQL</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="50"></div>
                    </div>
                </div>
            </div>

            <div class="carre3">
                <h3 id="dev-title">DÉVELOPPEMENT</h3>
                <div class="skill">
                    <span class="skill-name" id="java-title">JAVA</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="python-title">PYTHON</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="70"></div>
                    </div>
                </div>
            </div>

            <div class="carre4">
                <h3 id="tools-title">OUTILS</h3>
                <div class="skill">
                    <span class="skill-name" id="git-title">GIT</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="65"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="jetbrains-title">SUITE JETBRAINS</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="eclipse-title">ECLIPSE</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="50"></div>
                    </div>
                </div>
                <div class="skill">
                    <span class="skill-name" id="trello-title">TRELLO</span>
                    <div class="progress">
                        <div class="progress-bar" data-progress="80"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cv-right">
            <img src="/img/cv.png" alt="Mon CV" id="cv-img"/>
            <br>
            <button id="download">
                <img src="/img/download.png" alt="download" id="download-png">
                &nbsp;&nbsp;<span id="download-text">Télécharger mon CV</span>
            </button>
        </div>
    </div>

    <div id="blur-background"></div>
</section>